*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --color-primary: #0A0E19;
    --color-segundary: #EF0E3D;
}
head{
    scroll-behavior: smooth;
}
body{
    background-color: var(--color-primary);
}
/*CABEÇALHO - HEADER*/
.header{    
    background-color: #0a0e19c2;
    height: .1em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.5rem 6rem;
    position: fixed;
    z-index: 3;
    box-shadow: 0px 0px 20px 10px #0a0e199c;
}

.header img{
    height: 3em;
}

.menu ul,li,a{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    transition: all .10s;
    display: flex;
    gap: 2em;
    list-style:none;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.menu a:hover, li:hover{
    color: var(--color-segundary);
}


/*PARTE ONDE FICA O LETREIRO DA AVENGERS*/
.capa{
    background-image: url(imgs/fundo.jpg);
    background-attachment: fixed;
	background-size: cover;
    padding: 2em;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.capa img{
    max-height: 20em;
    display: flex;
    margin: 10px auto;
}

/*SOBRE OS AVENGERS*/
.sobre{
    background-color: var(--color-primary);
    color: white;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 130vh;
}

.sobre h1{
    color: var(--color-segundary);
    font-family: 'Poppins', sans-serif;

}

.sobre p{
    margin: 1em;
    font-size: 18px;
    display: column;
}

.fonte{
    text-decoration: underline;
    color: #EF0E3D;
    position: relative;
    right: 1px;
}


/*SLIDERS*/

.container{
    display: flex;
    width: 100%;
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: 5rem;
}

.coniner h1{
    color: var(--color-segundary);
    font-family: 'Poppins', sans-serif;
}

.container-images{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70rem;
}

.slider{
    transition: opacity .5s;
    opacity: 0;
    position: absolute;
    width: 100%;
    border-radius: 25px;
}

.on{
    opacity: 1;
}

#prev-button, #next-button{
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}


#prev-button img, #next-button img{
    width: 100%;
    height: 100%;
}

#prev-button{
    transform: rotate(180deg);
}











/*PRSONAGENS - HERÓIS*/
.main{
    background-image: url(imgs/fundo2.jpg);
    background-size: cover;
    height: auto;
    background-attachment: fixed;
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 7em;
    margin: 0;

}




/* CARDS DOS HERÓIS */
.card-image {
	display: block;
	min-height: 20rem; 
	background: #fff center center no-repeat;
	background-size: cover;
	filter: blur(0px); /* DESFOQUE NAS IMAGENS */
}

.card-image > img {
	display: block;
	width: 100%;
	opacity: 0; 
}

.card-image.is-loaded {
	filter: blur(2px);
    transition: all .50s;
}
.card-image.is-loaded:hover {
    transition: all .50s;
	filter: none; /* RETIRA O DESFOQUE DA IMAGEM */
}

.card-list {
	display: block;
	margin: 1rem auto;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card-list h2{
    color: #EF0E3D;
    font-family: 'Marvel', sans-serif;
    font-size: 30px;
}

.card {
    background-color: #0A0E19;
    height: 30em;
	display: inline-block;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem 1rem #0a0e196b;
}

.card-description {
	display: block;
	padding: 1em 0.5em;
	color: white;
	text-decoration: none;
}

.card-description > h2 {
	margin: 0 0 0.2em;
}

.card-description > p {
	margin: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}